<footer class="footer">
  <div>
    <div>
      <h3>Ketevani Nanuashvili - Front-end Developer</h3>
      <h4>I can be reached at the following email: <a href="mailto:ketinanuashvili@gmail.com">ketinanuashviliail.com</a></h4>
      <p>Feel free to connect with me on any of the following platforms:</p>
    </div>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/your-profile" target="_blank" aria-label="LinkedIn">
        <fa-icon [icon]="linkedin"></fa-icon>
      </a>
      <a href="mailto:your-email@example.com" aria-label="Email">
        <fa-icon [icon]="envelope"></fa-icon>
      </a>
      <a href="tel:+1234567890" aria-label="Phone">
        <fa-icon [icon]="phone"></fa-icon>
      </a>
      <a href="https://www.facebook.com/your-profile" target="_blank" aria-label="Facebook">
        <fa-icon [icon]="facebook"></fa-icon>
      </a>
    </div>
  </div>

  <div class="footer-text">
    <p>&copy; 2024 Ketevani Nanuashvili. All rights reserved.</p>
  </div>
</footer>
