<div header style="background-color: rgba(128, 128, 128, 0.5); opacity: 0.5; padding: 5px;">
    <nav>
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a href="" class="nav-link styles " routerLink="/home" routerLinkActive="text-dark">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link styles " routerLink="/portfolio" routerLinkActive="text-dark">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link styles " routerLink="/resume" routerLinkActive="text-dark">Resume</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link styles " routerLink="/contact" routerLinkActive="text-dark">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
