<div class="header" [ngClass]="{'dark-background': isScrolled}">
    <div class="profile-section">
        <h2>Ketevan Nanuashvili</h2>
        <div class="circle">
            <img src="assets/portfolio/myPic.jpg" alt="Profile picture">
        </div>
    </div>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/resume" routerLinkActive="active">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="resume-box">
        <h5>My Resume</h5>
    </div>
</div>
